[submodule "RosettaCodeData"]
	path = RosettaCodeData
	url = https://github.com/acmeism/RosettaCodeData.git
[submodule "watts-up"]
	path = watts-up
	url = https://github.com/pyrovski/watts-up.git
[submodule "ExternalLibraries/C/yajl"]
	path = ExternalLibraries/C/yajl
	url = https://github.com/lloyd/yajl.git
